.box1 
{background-color:skyblue;
text-align: center;
height: 359px;
width: 500px;
float: left;
font-size: 30px;}

.button
{margin: 40px;
font-size:30px;
text-emphasis: center;
align-self: hover;
}

.box 
{ background-image: url(maxre.jpg);
width: 820px;
height: 359px;
float: left;
margin-left: 5px;
 }

.about
 {background-image: url(nature.jpg);
text-align: center;
width: 1330px;
height: 390px;
font-size: 30px;;
margin-top: 10px;
float: right;
}


.edu
 {background-color:skyblue;
text-align:center ;
width: 700px;
height: 300px;
float: left;
margin-right: 10px;
font-size: 20px;
}

.experience
{background-color: skyblue;
width: 600px;;
text-align: center;
height: 300px;
float: left;
}

.bar
{background-color: rgb(235, 135, 135);
margin: 10px ;
width: 1350px;
height: 180px;
float: left;
text-align:center;
font-size: 30px;}
.bar{
display: inline;
}

.recent 
{background-color: rgb(235, 135, 135);
        margin-top: 10px ;
        width: 1350px;
        height: 180px;
        float: left;
        text-align:center;
        font-size: 50px;}

.t
{background-image: url(nature.jpg);
text-align: center;
 width: 300px;
 height: 180px;
 font-size: 50px;
 float: left;
 margin: 10px;
}
.r
{background-image: url(nature.jpg);
text-align: center;
 width: 300px;
 height: 180px;
 font-size: 50px;
 float: left;
 margin: 10px;
}
.e
{background-image: url(nature.jpg);
        text-align: center;
         width: 300px;
         height: 180px;
         font-size: 50px;
         float: left;
margin: 7px;
}
.s
{background-image: url(nature.jpg);
        text-align: center;
         width: 300px;
         height: 180px;
         font-size: 50px;
         float: left;
margin: 10px;}